html{
    background-color: #141519;
    font-family: 'Overpass', sans-serif;
    height: 100%;
    
}

body{



    height: 100%;
    
display: grid;
}



.wholeContainer{
    display: grid;
    place-self: center;

}






#thanksContainer{
    display: none;
}



/*
#ratingContainer{
    display: block;
}


#thanksContainer{
    display: none;
}


*/



.iconContainer{
    background-color: #272E38;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}


h1{
    color: #fff;
    font-weight: 700;
    margin:0;

    font-size: 28px;
 height: 20px;
   
}

p{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
   
    color:#9198A2;
  
}


#firstP{
    height: 59px;
    width: 340px;
}

.btnContainer{

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}



.numberBtn{
    color: #838396;
    width: 52px;
    height: 52px;
    background-color: #262f38;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: none;
    font-weight: 700;
    padding: 0;
    
}





#submitBtn{
    width: 341px;
    height: 45px;
    color: #fff;
    font-weight: 700;
    background-color: #fc7613;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: none;
 
}

.numberBtn:hover{
    background-color: #7C8898;
    color: #fff;
}

#submitBtn:hover{
    color: #fb7613;
    background-color: #fff;
}

.attribution { font-size: 11px;

 }
.attribution a { color: hsl(228, 45%, 44%); }


.numberBtn:focus { 
    background-color: #fb7613;
     color: white;}




#thanksContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-between;
display: none;
background: linear-gradient(#1E252F,#171E28);    
height: 415px;
width: 411px;
border-radius: 25px;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end:2;
}


.illustrationThankYou{
height: 110px;
width: 164px;
margin-top: 45px;

}

.selectionDiv{
    height: 34px;
    width: 193px;
   
    background-color: #262F38;
    color: #fb7613;
    border-radius: 15px;
    
}




#secondP{
    text-align: center;
    margin-bottom: 56px;
    width: 336px;
}





#ratingContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;


    background: linear-gradient(#1E252F,#171E28);    
    height: 351px;
    width: 347px;
    border-radius: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;

    padding:32px
 
    
}
